<form>
  <div class="row form-group">
      <input class="col-md-12 form-control user-input" placeholder="Nome Cliente"/>
      <input class="col-md-12 form-control user-input" placeholder="Peso da Entrega"/>
      <input class="col-md-12 form-control user-input" placeholder="Endereço Cliente "/>
      <input class="col-md-6 form-control" placeholder="Latitude" readonly/>
      <input class="col-md-6 form-control" placeholder="Longitude" readonly/>
      <button class="col-md-12 btn btn-success">Cadastrar cliente</button>
  </div>
  <div class="row">
    <button class="col-md-12 btn btn-danger">Resetar cadastro</button>
  </div>
</form>