form{
    .form-group{
        background-color: #f2f2f2;
        padding:10px;
        border: 1px solid darkgray;
        border-radius: 5px;
    }
    div{
        .user-input{
            margin-top: 10px;
        }
    }
    .cadastro{
        margin: 40px 0;
    }
    .reset{
        background-color: #f2f2f2;
        padding:10px;
        border: 1px solid darkgray;
        border-radius: 5px;
    }
}