#right-grid{
    margin:30px;
    #map { 
        height: 300px; 
        background-color: #f2f2f2;
        padding:10px;
        border: 1px solid darkgray;
        border-radius: 5px;
    }
    small{
        margin-top:30px;
    }

}