<div id="right-grid">
    <div id="map" leaflet [leafletOptions]="options"></div>
    
    <div class="row">
        <small>Total de clientes: 10; Peso Total: 4.521 kg; Ticket Médio*:301,4</small>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Rua</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">País</th>
                    <th scope="col">Lat</th>
                    <th scope="col">Lng</th>
                    <th scope="col">Excluir</th>
    
    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>x</td>
                    <td>x</td>
                    <td>x</td>
                    <td>x</td>
                    <td>x</td>
                    <td>x</td>
                    <td>x</td>
    
                </tr>
            </tbody>
        </table>
        <small>*Peso Total/Total de Clientes</small>
    </div>
</div>